$main_dark = #000
$main_lite = #fff
$main_highlite = #FBD784
$main_buttons = #FFA343
$main_shift = 4.7rem;

html,
body {
    font: 18px/1.7 'Open Sans', sans-serif;
}

body {
    background: $main_dark url("/images/cover.jpg") no-repeat center top;
    background-size: 100% auto;
    color: $main_lite;
}

a {
    color: $main_highlite
    transition: opacity .3s;
    opacity: 1;

    &:visited {
        color: darken($main_highlite, 10)
    }

    &:hover,
    &:active {
        opacity: .7;
    }
}

/* Main styles */

.cover-space {
    padding-bottom: 82%;
}

.header {
    position: absolute;
    top: 2rem;
    width: 100%;
    
    &__content {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 0 $main_shift;
        align-items: center;
    }

    &__center {
        display: flex;
        justify-content: center;
    }
}

.logo {
    color: $main_lite;
    text-decoration: none;
    letter-spacing: 1%;

    &:visited {
        color: $main_lite;
    }

    &__title {
        font-size: 1.3rem;
        font-weight: 700;
    }
}

.main-nav {
    &__list {
        display: flex;
    }

    &__link {
        color: $main_lite;
        text-decoration: none;
        padding: 1.8rem 1.38rem;
        display: inline-block;

        &:visited {
            color: $main_lite;
        }
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        width: 1rem;
        height: 1rem;
        background: url('/images/icons/search.svg') no-repeat center center;
        background-size: content;
        cursor: pointer;
        padding-right: .5rem;
    }

    &__form {
        background: none;
        border: none;
        transition: width .3s;
        width: 3.4rem;
        font: .9rem/1 'Open Sans', sans-serif;
        padding: .2rem .5rem;
        border-radius: 5px;

        &::placeholder {
            color: white;
        }

        &:focus {
            border: none;
            outline: none;
            width: 10rem;
            background: white;

            &::placeholder {
                color: $main_dark;
            }
        }
    }
}