doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Home page — QWERy
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        .cover-space
        header.header
            .header__content
                a.logo(href="/")
                    h1.logo__title QWERy
                nav.main-nav.header__center
                    ul.main-nav__list
                        li.main-nav__item
                            a.main-nav__link.main-nav__link_active(href="#") Information
                        li.main-nav__item
                            a.main-nav__link(href="#") About&nbsp;us
                        li.main-nav__item
                            a.main-nav__link(href="#") Culture
                label.search
                    .search__icon
                    input.search__form(type="text" placeholder="Search")
                    
            



